{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_title %}- Shopping Cart{% endblock %}

{% block content %}
<div class="container-fluid py-4 flex-grow-1">
  <div class="row">
    <div class="col">
      <h2 class="logo-font mb-1 mb-lg-4">Shopping Cart</h2>
    </div>
  </div>

  {% if not bag_items %}
    <div class="container">
      <p class="lead mb-5">Your cart is empty.</p>
      <a href="{% url 'products' %}" class="btn btn-outline-info rounded-0 btn-lg">
        <span class="icon">
          <i class="fas fa-chevron-left"></i>
        </span>
        <span class="text-uppercase">Keep Shopping</span>
      </a>
    </div>
  {% else %}
    <div class="row">
      <!-- Products list -->
      <div class="col-12 order-1 order-lg-0 col-lg-8">
        {% for item in bag_items %}
          <!-- Row for each item -->
          <div class="row bg-light py-2 mb-1">

            <!-- Product Image -->
            <div class="col-4 d-flex align-items-center">
              {% if item.product.image %}
              <img class="img-fluid rounded" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
              {% else %}
                <img class="img-fluid rounded" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
              {% endif %}
            </div>

            <div class="col-8">
              <div class="row">
                <!-- Product info -->
                <div class="col-12 col-xl-5 mt-4 d-flex flex-column justify-content-center">
                  <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                  <p class="my-0 small text-muted-black">sku: {{ item.product.sku|lower }}</p>
                  <p class="my-0">Size: {% if item.size %}{{ item.size.friendly_name }}{% else %}N/A{% endif %}</p>
                  <p class="my-0">Color: {% if item.product.color %}{{ item.color.friendly_name }}{% else %}N/A{% endif %}
                  </p>
                </div>

                <!-- Forms -->
                <div class="col-12 col-xl-7 text-xl-center d-flex align-items-center justify-content-xl-center">
                  <div class="row mt-3 mt-xl-5">
                    <div class="col">
                      {% if item.product_size_obj.count > 0 %}
                      <!-- Quantity form -->
                      <form class="form update-form" action="{% url 'adjust_bag' item.product_size_id %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                          <div class="input-group-prepend" data-toggle="tooltip" data-placement="top" title="{{ item.product_size_obj.count }} in stock">
                            <label for="id_qty_{{ item.product_size_id }}" class="sr-only">Quantity</label>
                            <input class="form-control form-control-sm qty_input border-info border-right-0" type="number" name="quantity" value="{{ item.quantity }}"
                              min="1" max="{{ item.product_size_obj.count }}" data-product_size_id="{{ item.product_size_id }}"
                              id="id_qty_{{ item.product_size_id }}" style="min-width: 50px; max-width: 60px;">
                            <!-- submit -->
                            <div class="input-group-append">
                              <button type="submit" class="btn btn-sm btn-outline-info rounded-0"
                                aria-label="Update Quantity">
                                <i class="fas fa-sync-alt"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                      </form>
                      {% else %}
                      <p class="text-danger">No longer available</p>
                      {% endif %}
                    </div>
                    <!-- Subtotal -->
                    <div class="col d-flex align-items-center">
                      {% if item.product_size_obj.count > 0 %}
                      <p>&euro;{{ item.product.price | calc_subtotal:item.quantity }}</p>
                      {% else %}
                      <p>&euro;0.00</p>
                      {% endif %}
                    </div>
                    <!-- Remove item -->
                    <div class="col-12 col-sm-auto">
                      <button class="btn btn-sm btn-outline-danger rounded-0 remove-item"
                        id="remove_{{ item.product_size_id }}" aria-label="Remove item">
                        <span class="d-sm-none">
                          <small>Remove</small>
                        </span>
                        <i class="fas fa-trash-alt"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <!-- ./forms -->

                <!-- Error box -->
                <div id="error-box-{{ item.product_size_id }}" class="d-none col-12 mt-2 mb-0 text-xl-right text-danger"></div>
              </div>
            </div>

          </div>
          <!-- ./row for each item -->
        {% endfor %}
      </div>
      <!-- ./products list -->

      <!-- Summary -->
      <div class="col-12 col-lg-4 my-3 my-lg-0">
        <div class="container">
          <!-- Header -->
          <div class="row">
            <div class="col">
              <h4><strong>Summary</strong></h4>
            </div>
          </div>
          <!-- Summary -->
          <div class="row mt-2">
            <div class="col">
              <table class="table table-borderless table-sm">
                <tr class="mb-2">
                  <td class="pr-3">Cart Total</td>
                  <td class="text-right">&euro;{{ total|floatformat:2 }}</td>
                </tr>
                <tr class="mb-2">
                  <td class="pr-3">Delivery</td>
                  <td class="text-right">&euro;{{ delivery|floatformat:2 }}</td>
                </tr>
                <tr class="mb-2">
                  <td class="pr-3"><strong>Grand Total</strong></td>
                  <td class="text-right"><strong>&euro;{{ grand_total|floatformat:2 }}</strong></td>
                </tr>
                {% if free_delivery_delta > 0 %}
                <tr>
                  <td colspan="2" class="text-danger">
                    You could get free delivery by spending just <strong>&euro;{{ free_delivery_delta|floatformat:2 }}</strong> more!
                  </td>
                </tr>
                {% endif %}
              </table>
            </div>
          </div>
          <!-- Checkout button -->
          <div class="row mt-3">
            <div class="col text-center">
              <a href="{% url 'checkout' %}" id="checkout-button" class="btn w-100 btn-info rounded-0 btn-lg">
                <span class="icon">
                  <i class="fas fa-lock"></i>
                </span>
                <span class="text-center">Secure Checkout</span>
                <span>
                  <i class="fas fa-chevron-right"></i>
                </span>
              </a>
              <a href="{% url 'products' %}" class="btn w-100 btn-outline-secondary rounded-0 btn-lg">
                <span class="icon">
                  <i class="fas fa-store"></i>
                </span>
                <span class="text-center">Keep Shopping</span>
                <span>
                  <i class="fas fa-chevron-left"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- ./summary -->
    </div>
  {% endif %}
</div>

{% include 'includes/modals/error_modal.html' %}

{% endblock %}

{% block postloadjs %}
  {{ block.super }}
  <script>
    // Remove item and reload on click
    $(document).ready(function () {
      // modal trigger
      const csrfToken = "{{ csrf_token }}";
      const modalTrigger = $(".remove-item");
      const errorModal = $('#errorModal');
      const submitBtn = errorModal.find(".submit");

      // get data from clicked modal trigger and set it to submit button
      modalTrigger.click(function () {
        const productSizeId = $(this).attr('id').split('remove_')[1];
        const url = `/bag/remove/${productSizeId}`;

        submitBtn.attr('data-url', url);
        errorModal.modal('show');
      });

      // Get passed url from submit button and post it to remove_item view
      submitBtn.on('click', function () {
        const url = $(this).attr('data-url');
        $.post(url, { 'csrfmiddlewaretoken': csrfToken })
          .done(function () {
            location.reload();
          });
      });
    });
  </script>

  <script>
    $(document).ready(function() {
      $('[data-toggle="tooltip"]').tooltip();

      // Show error msg if user tries to increase product quanity
      // beyond what is available in stock
      $('.qty_input').on('input', function() {
        const productSizeId = $(this).attr('data-product_size_id');
        const errorBox = $(`#error-box-${productSizeId}`);
        const maxQty = $(this).attr('max');
        const currentQty = $(this).val();

        if (currentQty > maxQty) {
          $(errorBox).text('Only ' + maxQty + ' available').addClass('d-block');
        } else {
          $(errorBox).removeClass('d-block');
        }
      });
    })
  </script>
{% endblock %}