{% extends "base.html" %}
{% load static %}
{% load profile_tools %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block extra_title %}- My Profile{% endblock %}

{% block content %}
<div class="container flex-grow-1 my-4">
  <div class="row">
    <div class="col">
      <h2 class="logo-font mb-4">My Profile</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-6">
      <p class="text-muted text-center text-lg-left">
        <a class="btn-link text-info lead" data-toggle="collapse" href="#collapseDeliveryInfo"
          role="button" aria-expanded="false" aria-controls="collapseDeliveryInfo">
          Delivery Information
          <i class="fas fa-chevron-down"></i>
        </a>
      </p>
      <div class="collapse" id="collapseDeliveryInfo">
        <form class="" action="{% url 'profile' %}" method="post" id="profile-update-form">
          {% csrf_token %}
          {{ form|crispy }}
          <button class="btn btn-info float-right">
            Update Info <i class="fas fa-check"></i>
          </button>
        </form>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <hr class="d-lg-none w-75">
      <p class="text-muted lead">Order History</p>
      <div class="order-history table-responsive">
        <table class="table-sm table-borderless">
          <thead>
            <tr>
              <th>#</th>
              <th>Date</th>
              <th>Items</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            {% for order in orders %}
              <tr>
                <td class="align-top">
                  <a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}">
                    {{ order.order_number|truncatechars:6 }}
                  </a>
                </td>
                <td class="align-top">{{ order.date|date:"d M Y" }} {{ order.date|time:"H:i" }}</td>
                <td class="align-top">
                  <ul class="pl-3 small" style="list-style-type: circle;">
                    {% with order.original_bag|json_loads as original_bag %}
                      {% for item in original_bag %}
                        <li>
                          {{ item.product_name }} - {{ item.size }} x{{ item.quantity }}
                        </li>
                      {% endfor %}
                    {% endwith %}
                  </ul>
                </td>
                <td class="align-top">&euro;{{ order.grand_total }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block postloadjs %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
  <script type="text/javascript">
    // expand delivery info form on large screens
    $(document).ready(function() {
      if ($(window).width() > 992) {
        $('#collapseDeliveryInfo').collapse('show');
        $('a[href="#collapseDeliveryInfo"]').setAttribute('aria-expanded', 'true');
      }
    });
  </script>
  <script type="text/javascript">
    // Add black border to country field if country is selected
    $("#id_default_country").on('change', function() {
        if (this.selectedIndex !== 0) {
            this.style.borderColor = '#139b11';
        } else {
            // Otherwise, reset to default if the first option is selected
            this.style.borderColor = '';
        }
    });
  </script>
{% endblock %}
