{% extends 'base.html' %}
{% load static %}

{% block extra_title %}- Product Management - Edit Product{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'libs/spectrum/spectrum.css' %}">
  <link rel="stylesheet" href="{% static 'inventorize/css/inventorize.css' %}">
{% endblock %}

{% block content %}
<div class="container my-4">
  <div class="mx-auto" style="max-width: 500px;">
    <h4 class="mb-4">Edit Product</h4>
    <form method="POST" action="{% url 'edit_product' product.id %}" class="form" enctype="multipart/form-data">
      {% csrf_token %}

      {{ form.category | as_crispy_field }}
      <div id="new-category-container">
        <p>
          <button class="btn btn-outline-info btn-sm" type="button" data-toggle="collapse" data-target="#collapseNewCategory"
            aria-expanded="false" aria-controls="collapseNewCategory">
            <i class="fas fa-plus"></i>
            Add new Category to database
          </button>
        </p>
        <div class="collapse mb-3" id="collapseNewCategory">
          <p class="text-muted mb-0">
            <small>
              The new category will be added to the database and selected for this product automatically when you submit the form.
            </small>
          </p>
          <div class="card card-body py-0 pt-3">
            {{ form.new_category_name | as_crispy_field }}
            {{ form.new_category_friendly_name | as_crispy_field }}
          </div>
        </div>
      </div>

      {{ form.brand | as_crispy_field }}
      <div id="new-brand-container">
        <p>
          <button class="btn btn-outline-info btn-sm" type="button" data-toggle="collapse" data-target="#collapseNewBrand"
            aria-expanded="false" aria-controls="collapseNewBrand">
            <i class="fas fa-plus"></i>
            Add new Brand to database
          </button>
        </p>
        <div class="collapse mb-3" id="collapseNewBrand">
          <p class="text-muted mb-0">
            <small>
              The new brand will be added to the database and selected for this product automatically when you submit the form.
            </small>
          </p>
          <div class="card card-body py-0 pt-3">
            {{ form.new_brand_name | as_crispy_field }}
            {{ form.new_brand_friendly_name | as_crispy_field }}
          </div>
        </div>
      </div>

      {{ form.sku | as_crispy_field }}
      {{ form.name | as_crispy_field }}
      {{ form.price | as_crispy_field }}

      {{ form.color | as_crispy_field }}
      <div id="new-color-container">
        <p>
          <button class="btn btn-outline-info btn-sm" type="button" data-toggle="collapse" data-target="#collapseNewColor"
            aria-expanded="false" aria-controls="collapseNewColor">
            <i class="fas fa-plus"></i>
            Add new Color to database
          </button>
        </p>
        <div class="collapse mb-3" id="collapseNewColor">
          <p class="text-muted mb-0">
            <small>
              Enter the <b>HEX</b> code for the new color or choose one from the color picker.
            </small>
          </p>
          <div class="card card-body py-0 pt-3">
            <div class="mb-2 text-center"><input id='colorpicker' /></div>
            {{ form.new_color_name | as_crispy_field }}
            {{ form.new_color_friendly_name | as_crispy_field }}
          </div>
        </div>
      </div>

      {{ form.featured | as_crispy_field }}

      {{ formset.management_form }}
      <div class="formset--table table-responsive">
        <table class="table table-borderless table-striped table-sm caption-top">
          <caption class="caption-top py-0">
            <p class="my-0">Product Sizes*</p>
            <p class="my-0 pl-3">
              <small class="text-muted">
              Not excluded sizes will be added to the product, even if quantity is 0.
              </small>
            </p>
          </caption>
          <thead>
            <tr>
              <th scope="col">Size Name</th>
              <th scope="col">Size</th>
              <th scope="col">Quantity</th>
              <th scope="col">Exclude?</th>
            </tr>
          </thead>
          <tbody class="formset">
            {% for form in formset %}
                <tr>
                  <span>{{ form.size }}</span>
                  <td>{{ form.size_friendly_name }}</td>
                  <td>{{ form.size_name }}</td>
                  <td>{{ form.count }}</t>
                  <td class="text-center">{{ form.DELETE }}</td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div id="div_id_image" class="form-group">
        <div>{{ form.image }}</div>
      </div>
      <div>
        <a class="btn btn-outline-secondary" href="{% url 'products' %}">Cancel</a>
        <button class="btn btn-info" type="submit">Update Product</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'libs/spectrum/spectrum.js' %}"></script>
<script type="text/javascript" src="{% static 'inventorize/js/collapse_elements.js' %}"></script>
<script type="text/javascript">
  $('#new-image').change(function () {
    let file = $('#new-image')[0].files[0];
    $('#filename').text(`Image will be set to: ${file.name}`)
  });
</script>
<script type="text/javascript">
  // add min and max attributes to size input
  const sizeInput = $('.formset--table input[type="number"]');
  sizeInput.attr('min', 0);
  sizeInput.attr('max', 999);

</script>
{% endblock %}