<div class="modal" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content text-center">
      <div class="modal-header bg-danger text-white d-flex justify-content-center">
        <h5 class="modal-title" id="errorModalLabel">Are you sure?</h5>
      </div>
      <div class="modal-body">
        <i class="fas fa-times fa-3x text-danger"></i>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
        <button type="button" class="submit btn btn-outline-danger" data-dismiss="modal">
          Yes
        </button>
      </div>
    </div>
  </div>
</div>